
@font-face {
    font-family: din_condensed;
    src: url('fonts/DINCondensed-Bold.eot');
    src: url('fonts/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINCondensed-Bold.woff2') format('woff2'),
        url('fonts/DINCondensed-Bold.woff') format('woff'),
        url('fonts/DINCondensed-Bold.ttf') format('truetype'),
        url('fonts/DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

